<!DOCTYPE html>
<html lang="en">
<head>
  <title>Encompass Digital Pricing Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<nav class="navbar navbar-inverse ">
  <div class="container-fluid logo">
    <div class="navbar-header" <a class="navbar-brand" href="https://encompass.tv"> <img style="width: 250px;" src = "../assets/img/Encompass_H_White.png" alt="Encompass Didital Media"></a>
      </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center">    
  <div class="row content">
  <!--Left side nav-->
    <div class="col-sm-2 sidenav"> <h3>Services</h3>
      <div class="well">
        <a href="assets/img/Encompass-Brochure-LR.PDF" target="_blank">
        <img class="clientLogos"src="assets/img/brochure.png" style="width: 40%; height: 40%">
        <p>Company Overview</p>
      </div>
      <div class="well">
        <a href="https://www.encompass.tv/end-to-end-ott-tve-solutions/" target="_blank">
        <img src="assets/img/streaming.png" style="width: 75%; height: 75%">
        <p>24/7 OTT/TVE Streaming</p>
      </div>
      <div class="well">
        <img src="assets/img/cloudvod.png" style="width: 75%; height: 75%">
        <p>VOD Services</p>
      </div>

    </div>{{!--end left side nav--}}
  <!--Middle area to seach and show list of previous quotes-->
    <div class="col-sm-8 text-left">
        <div id="allQuotes" class="well" style="margin-top: 50px">
          {{{body}}}
        </div>
    </div>
  <!--Right side nav-->
    <div class="col-sm-2 sidenav" > <h3>Live Streams</h3>
      <div class="well">
        <a href="http://live.pep1.v2p-a.edm-cloud.tv/live/nasa/index.m3u8" target="_blank">
        <img class="clientLogos" border="0" alt="Nasa Stream" src="assets/img/Nasa-Logo-Transparent-Background-download.png" style="width: 50%; height: 50%" >
      </div>
      <div class="well">
        <img class="clientLogos" src="assets/img/HGTV.png">
      </div>
      <div class="well">
        <img class="clientLogos" src="assets/img/the-blaze-logo.png">
      </div>
      <div class="well">
        <img class="clientLogos" src="assets/img/nt-cars.png">
      </div>
    </div>{{!--end right side nav--}}
  </div>{{!--end row content--}}
</div>{{!--end container-fluid text center--}}


<footer class="container-fluid text-center ">
  <p>COPYRIGHT 2016 ENCOMPASS, ALL RIGHTS RESERVED.</p>
  
</footer>    
</body>

</html>
