<div class="container">  
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="/" class="button-size">
                <div class="form-group">
                    <p> 1. Enter the opportunity details.</p>
                    <input type="text" name="company" class="form-control" required placeholder="Company Name"></input>
                    <input type="text" name="description" class="form-control" required placeholder="Proposal Description"></input>
                    <br>
                    <p> 2. Select the protocols you need.</p>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="HLS" checked value="1">HLS (Recommended)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="HDS" unchecked value="1">HDS 
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="RTMP" unchecked value="1">RTMP
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="MPEG_DASH" unchecked value="1">MPEG-DASH
                    </label>
                    <br>
                    <p> 3. Select a contract term.
                        <select class="selectpicker" name="contract_term" required title="Choose one of the following...">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </p>
                    <p> 4. Enter the number of streams you need each year.</p>
                    <input type="input" name="year_one_channels" class="form-control" required placeholder="Channels in Year 1"></input>
                    <input type="input" name="year_two_channels" class="form-control" placeholder="Channels in Year 2"></input>
                    <input type="input" name="year_three_channels" class="form-control" placeholder="Channels in Year 3"></input>
                    <p> 5. Select a support plan for your services.</p>
                    <div class="radio">
                        <ul>
                        <label><input type="radio" name="support_plan" checked value="Gold">Gold</label>
                        <label><input type="radio" name="support_plan" value="Platinum">Platinum</label>
                        </ul>
                    </div>
                    <ul>
                    <button type="submit" id="newQuote" class="btn btn-danger"><a href="/">Go Back</button>
                    <button class="btn btn-success" type="submit">Calculate</button>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img id="rightcontainer" src ="../../assets/img/cloudstream.png">
        </div>
    </div>
</div>




       

