<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>it works!</h1>
      <form method="POST" action="/" class="button-size">
        <div class="form-group">
          <input type="text" name="company" class="form-control" required placeholder="Company Name"></input>
          <input type="text" name="description" class="form-control" required placeholder="Proposal Description"></input>
          <input type="date" name="date" class="form-control" required placeholder="Proposal Date"></input>
          <label class="checkbox-inline">
                <input type="checkbox" name="HLS" checked value="1">HLS (Recommended)
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="HDS" unchecked value="1">HDS 
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="RTMP" unchecked value="1">RTMP
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="MPEG_DASH" unchecked value="1">MPEG-DASH
            </label>
            <select class="selectpicker" name="contract_term" required title="Choose one of the following...">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <input type="input" name="year_one_channels" class="form-control" required placeholder="Channels in Year 1"></input>
            <input type="input" name="year_two_channels" class="form-control" placeholder="Channels in Year 2"></input>
            <input type="input" name="year_three_channels" class="form-control" placeholder="Channels in Year 3"></input>
            
            <div class="radio">
                <label><input type="radio" name="support_plan" checked value="Gold">Gold</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="support_plan" value="Platinum">Platinum</label>
            </div>

          <button class="btn btn-default" type="submit">Save Proposal</button>
        </div>
      </form>
      
    </div>
</div>





       

