body {
    background-image: url("../img/background.png");
    padding-top: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    line-height: 34px;
    padding-bottom: 70px;
}

input#company.form-control{
    width: 320px;
    align-content: right;
}

input#date.form-control{
    width: 220px;
    align-content: right;
}

input#channels.form-control{
    width: 320px;
    align-content: right;
}

label.checkbox-inline{
    font-size: 14px;
    color: #363636;
    line-height: 34px;
}

form.button-size{
    font-size: 14px;
    color: #363636;
    line-height: 34px;
}

img#rightcontainer {
      width: 90%;
      height: auto;
      /*box-shadow: 5px 5px 1px #888888;*/
  }

input {
    margin-bottom: 10px;
}


th.tableTitle {
  background:#0065bd;
  color: white;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0; 
    
    

}

th:first-child {
    border-radius: 10px 0 0 0;
    
}

th:last-child {
    border-radius: 0 10px 0 0;
}

th:only-child{
    border-radius: 10px 10px 0 0;
}

td {
  padding: 25px;
}

a {
    color:inherit;
    text-decoration: none;
}


h1.title {
    margin-top: 100px;
}

 .well {
    background-color: rgba(255,255,255,0.4);
    height: auto;
    overflow: auto;
    margin-top: 80px;
    border: none;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #1a3d5b;
}

div.navbar-header {
    color: white;
}
  
div.navbar-header {
    color: white;
}

.logo .navbar-brand>img {
    padding: 7px 14px;
} 
.row.content {
    height: 450px
}

footer {
    background-color: #282a2b;
    color: white;
    padding: 15px;
}