body {
    background-image: url("../img/background.png");
    padding-top: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #0065bd;
    line-height: 34px;
    padding-bottom: 70px;
}

/*form {
    width: 220px;
}*/
input#company.form-control{
    width: 320px;
    align-content: right;
}

input#date.form-control{
    width: 220px;
    align-content: right;
}

input#channels.form-control{
    width: 320px;
    align-content: right;
}

label.checkbox-inline{
    font-size: 14px;
    color: #363636;
    line-height: 34px;
}

form.button-size{
    font-size: 14px;
    color: #363636;
    line-height: 34px;
}

img#rightcontainer {
      width: 90%;
      height: auto;
      /*box-shadow: 5px 5px 1px #888888;*/
  }

td, th {
    padding: .9em 3em;
}

th {

    background-color: #003478;
    color: white;
}

td {
    font-size: 16px;
    color: #363636;
}

tr:nth-child(even) {background-color: #f2f2f2}

a {
    color:inherit;
    text-decoration: none;
}


h1.title {
    margin-top: 100px;
}

h1.title {
    margin-top: 100px;
}
  .well {
    background-color: rgba(255,255,255,0.4);
    height: auto;
    overflow: auto;
    margin-top: 80px;
    border: none;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #1a3d5b;
}

div.navbar-header {
    color: white;
}
  
 div.navbar-header {
    color: white;
}

  .logo .navbar-brand>img {
    padding: 7px 14px;
} 
.row.content {
    height: 450px
}

img.clientLogos {
    width: 75%;
    height: 75%;

    /*box-shadow: 5px 5px 1px #888888;*/
}

footer {
    background-color: #282a2b;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {    
    .row.content {
    height: auto;

}

img#rightcontainer {
    width: 100%;
    height: auto;
}
  
footer {
    background-color: #282a2b;
    color: white;
    padding: 15px;
}

input {
    margin-bottom: 10px;
}

  /* On small screens, set height to 'auto' for sidenav and grid */
  
@media screen and (max-width: 767px) {    
    .row.content {
        height: auto;

    }
}
