  body {
      background-image: url("../img/background.png");
      padding-top: 2rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-attachment: fixed;
  }
  
  .form-control,
  button {
      width: 470px;
      height: 44px;
      padding: 10px;
      margin: 0;
      text-align: center;
      font-weight: bold;
      font-size: 17px;
  }
  
  .checkbox {
      font-size: 17px;
  }
  
  h1.title {
      margin-top: 100px;
  }
  
  .well {
      background-color: rgba(245, 245, 245, 0.4);
      height: auto;
      overflow: auto;
      margin-top: 20px;
  }
  
  .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #1a3d5b;
  }
  
  div.navbar-header {
      color: white;
  }
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  
  .row.content {
      height: 450px
  }
  /* Set gray background color and 100% height */
  
  .sidenav {
      padding-top: 20px;
      /* background-color: #f1f1f1;*/
      background-color: #7ab800;
      height: 100%;
  }
  /* Set black background color, white text and some padding */
  
  footer {
      background-color: #252525;
      color: white;
      padding: 15px;
  }
  /* On small screens, set height to 'auto' for sidenav and grid */
  
  @media screen and (max-width: 767px) {
      .sidenav {
          height: auto;
          padding: 15px;
      }
      .row.content {
          height: auto;
      }
  }
