  body {
      background-image: url("../img/background.png");
      padding-top: 2rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-attachment: fixed;
  }
  
  #collapse1,
  #salesperson,
  #description,
  .panel panel-default,
  #date,
  #company,
  #submit-data,
  .list-group.form-control,
  button {
      padding: 12px;
      margin: 0;
      text-align: left;
      border-width: none;
      border-color: #1a3d5b;
      border: solid;
      font-size: 17px;
      background-color: #f5f5f5;
      color: #1a3d5b;
  }
  
  .checkbox {
      /* font-size: 17px;*/
  }
  
  a {
      color: #ffffff;
  }
  
  h1.title {
      margin-top: 100px;
  }
  
  .well {
      /* background-color: #252525;*/
      height: auto;
      overflow: auto;
      margin-top: 20px;
      border: none;
  }
  
  .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #1a3d5b;
  }
  
  div.navbar-header {
      color: white;
  }
  
  .logo .navbar-brand>img {
      padding: 7px 14px;
  }
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  
  .row.content {
      height: 450px
  }
  /* Set gray background color and 100% height */
  
  .sidenav {
      padding-top: 20px;
      /* background-color: #f1f1f1;*/
      background-color: #252525;
      height: auto;
      color: white;
  }
  
  img.clientLogos {
      width: 75%;
      height: 75%;
      /*box-shadow: 5px 5px 1px #888888;*/
  }
  /* Set black background color, white text and some padding */
  
  footer {
      background-color: #252525;
      color: white;
      padding: 15px;
  }
  /* On small screens, set height to 'auto' for sidenav and grid */
  
  @media screen and (max-width: 767px) {
      .sidenav {
          height: auto;
          padding: 15px;
      }
      .row.content {
          height: auto;
      }
  }
